body{ 
  font-family: "Platypi", serif;
  background-color: rgb(143, 7, 97);
}
*{
  margin: 0%;
  padding: 0%;
}
h1{
  color: aliceblue;
  padding: 20px;
  text-align: center;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container nav{
  color: aliceblue;
  width: 250px;
  padding: 10px;
  margin: 10px;
  flex-basis: 20px;
  flex-grow: 1;

}
